.search {
  display: flex;
  align-content: baseline;
  background-color: var(--white);
  border-radius: 12.5px;
  height: 25px;
  padding: 4px 5px;
  box-sizing: border-box;
  max-width: 200px;
  width: 100%;
  justify-content: space-between;
  margin-left: 20px;
}

.search__icon {
  color: var(--black);
  font-size: 18px;
}

.search__icon--close {
  color: var(--grey-light);
  cursor: pointer;
}

.search__input {
  border: none;
  background-color: var(--white);
  outline: none;
  width: 100%;
}