.controls__actions {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0 auto;
}

.controls__icon {
  color: var(--grey-light);
  cursor: pointer;
}

.controls__icon:hover {
  color: var(--white);
}

.controls__progress {
  margin-top: 20px;
}